{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
