---
import Layout from '../layouts/Layout.astro';
import BookSlideshow from '../components/BookSlideshow.astro';
import 'sant-lipi';
---

<Layout title="SPG (Beta) - Suraj Prakash Granth">
  <Fragment slot="extra-headers">
    <!-- Header image -->
    <div
      class="relative flex w-full h-56 bg-gradient-to-b from-primary to-transparent sm:h-80 transition-all"
    >
    </div>
    <h1 class="font-serif text-center italic text-4xl text-base-100">Suraj Prakaash Granth</h1>
    <p class="text-center text-base-content mt-9">
      New website coming soon. In the meantime, you can read existing some translations on the
      current <a
        href="https://spg.dev/books"
        class="underline text-primary hover:text-primary-focus visited:text-secondary"
        >SPG Website</a
      >.
    </p>
  </Fragment>
  <div class="flex justify-center overflow-auto">
    <div class="my-3 lg:max-w-7xl w-full flex flex-col items-center">
      <h2 class="italic font-serif py-2 text-lg text-base-content">All Books</h2>
      <BookSlideshow />

      <div>
        <a
          href="/books"
          class="uppercase p-2 text-center my-3 underline text-primary hover:text-primary-focus visited:text-secondary"
        >
          See All Books
        </a>
      </div>
    </div>
  </div>
</Layout>
