---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BookSlideshow from "../components/BookSlideshow.astro";
---

<Layout title="SPG Wireframes">
  <Fragment slot="extra-headers">
    <!-- Header image -->
    <div
      class="relative flex w-full h-56 bg-gradient-to-b from-[#C4C4C4] to-transparent sm:h-80 transition-all"
    >
    </div>
    <h1 class="font-serif text-center italic text-4xl">
      Suraj Prakaash Granth
    </h1>
    <p class="text-center text-slate-900 mt-9">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a arcu sed
      mauris feugiat luctus sit.
    </p>
  </Fragment>
  <div class="flex w-full justify-center">
    <div class="my-3 lg:max-w-7xl flex flex-col items-center">
      <h2 class="italic font-serif py-2 text-lg">All Books</h2>
      <BookSlideshow />

    <div>
      <a
        href="/books"
        class="uppercase p-2 text-center my-3 underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
      >
        See All Books
        </a>
      </div>
    </div>
  </div>
</Layout>
