.blog-content {
  /* General typography and formatting */
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: #333;
  max-width: 700px;
}
.blog-content p {
  font-size: 18px;
  margin-bottom: 1.5em;
}

.blog-content h1,
.blog-content h2 {
  font-family: 'sohne', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -0.448px;
  text-rendering: optimizeLegibility;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 1.2;
}

.blog-content h1 {
  font-size: 38px;
}

.blog-content h2 {
  font-size: 32px;
}

.blog-content h2.dialog-title {
  font-size: 20px;
  font-weight: 400;
}

.blog-content h3 {
  font-size: 28px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
  line-height: 1.2;
}

.blog-content h4 {
  font-size: 24px;
}

.blog-content h5 {
  font-size: 20px;
}

.blog-content h6 {
  font-size: 18px;
}

/* Images and captions */
.blog-content figure {
  margin-bottom: 1.5em;
  text-align: center;
}

.blog-content figcaption {
  font-size: 14px;
  font-style: italic;
  margin-top: 0.5em;
  color: #666;
}

/* Blockquotes */
.blog-content blockquote {
  font-family: 'Georgia', serif;
  font-size: 22px;
  font-weight: italic;
  line-height: 1.4;
  margin: 1.5em 0;
  padding-left: 1.5em;
  position: relative;
  color: #666;
  box-shadow: inset 3px 0 0 0 rgba(41, 41, 41, 1);
}

.blog-content a {
  color: rgb(41, 41, 41); /* Custom link color */
  text-decoration: none;
  font-weight: 400; /* Normal font weight */
  transition: color 0.3s ease;
  border-bottom: 1px solid rgba(41, 41, 41, 1);
}

.blog-content a:hover {
  border-bottom: 1px solid rgba(41, 41, 41, 0.7); /* Darker underline on hover */
}

/* List */
.blog-content ol,
.blog-content ul {
  margin: 1.5em 0;
}

.blog-content li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0.5em;
  position: relative;
  padding-left: 1.5em;
}

.blog-content li p {
  display: inline;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

.blog-content ul li::before {
  content: '•';
  position: absolute;
  left: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
}

.blog-content ol {
  counter-reset: list-counter;
}

.blog-content ol li::before {
  content: counter(list-counter) '.';
  counter-increment: list-counter;
  position: absolute;
  left: 0;
  font-weight: bold;
  color: #555;
  font-size: 1em;
}
