---
// const books =
---

<div
  class="relative w-full flex gap-6 snap-x snap-proximity overflow-x-auto pb-14"
>
  <div class="snap-center shrink-0 first:pl-8 last:pr-8 w-64 h-80 bg-slate-300">
  </div>
  <div class="snap-center shrink-0 first:pl-8 last:pr-8 w-64 h-80 bg-slate-300">
  </div>
  <div class="snap-center shrink-0 first:pl-8 last:pr-8 w-64 h-80 bg-slate-300">
  </div>
  <div class="snap-center shrink-0 first:pl-8 last:pr-8 w-64 h-80 bg-slate-300">
  </div>
  <div class="snap-center shrink-0 first:pl-8 last:pr-8 w-64 h-80 bg-slate-300">
  </div>
  <div class="snap-center shrink-0 first:pl-8 last:pr-8 w-64 h-80 bg-slate-300">
  </div>
</div>
