---
const books = [
  {
    en_title: "Sri Nanak Parkash 1",
    title: "ਸ੍ਰੀ ਨਾਨਕ ਪ੍ਰਕਾਸ਼ ਪੂਰਬਾਰਧ",
  },
  {
    en_title: "Sri Nanak Parkash 2",
    title: "ਸ੍ਰੀ ਨਾਨਕ ਪ੍ਰਕਾਸ਼ ਉੱੱਤਰਾਰਧ",
  },
  {
    en_title: "Raas 1",
    title: "ਰਾਸਿ ੧",
  },
  {
    en_title: "Raas 2",
    title: "ਰਾਸਿ ੨",
  },
  {
    en_title: "Raas 3",
    title: "ਰਾਸਿ ੩",
  },
  {
    en_title: "Raas 4",
    title: "ਰਾਸਿ ੪",
  },
  {
    en_title: "Raas 5",
    title: "ਰਾਸਿ ੫",
  },
  {
    en_title: "Raas 6",
    title: "ਰਾਸਿ ੬",
  },
  {
    en_title: "Raas 7",
    title: "ਰਾਸਿ ੭",
  },
  {
    en_title: "Raas 8",
    title: "ਰਾਸਿ ੮",
  },
  {
    en_title: "Raas 9",
    title: "ਰਾਸਿ ੯",
  },
  {
    en_title: "Raas 10",
    title: "ਰਾਸਿ ੧੦",
  },
  {
    en_title: "Raas 11",
    title: "ਰਾਸਿ ੧੧",
  },
  {
    en_title: "Raas 12",
    title: "ਰਾਸਿ ੧੨",
  },
  {
    en_title: "Rut 1",
    title: "ਰੁਤਿ ੧",
  },
  {
    en_title: "Rut 2",
    title: "ਰੁਤਿ ੨",
  },
  {
    en_title: "Rut 3",
    title: "ਰੁਤਿ ੩",
  },
  {
    en_title: "Rut 4",
    title: "ਰੁਤਿ ੪",
  },
  {
    en_title: "Rut 5",
    title: "ਰੁਤਿ ੫",
  },
  {
    en_title: "Rut 6",
    title: "ਰੁਤਿ ੬",
  },
  {
    en_title: "Ayaan 1",
    title: "ਅਯਨ ੧",
  },
  {
    en_title: "Ayaan 2",
    title: "ਅਯਨ ੨",
  },
];

const description =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a arcu sed mauris feugiat luctus sit amet ut.";
---

<div
  class="relative w-full flex gap-6 snap-x snap-proximity overflow-x-auto pb-14"
>
  {
    books.map((book) => (
      <div class="snap-center shrink-0 first:pl-8 last:pr-8">
        <div class="bg-slate-300 w-64 h-80" />
        <div class="py-3 space-y-2 w-64 text-slate-900 text-center">
          <p class="font-serif font-semibold text-slate-800">{book.en_title}</p>
          <p>{description}</p>
        </div>
      </div>
    ))
  }
</div>
