---
import books from './books.json';

const description = 'Coming soon.';
---

<div class="relative w-full flex gap-6 snap-x snap-proximity overflow-x-auto pb-14">
  {
    books.map((book, i) => (
      <div class="snap-center shrink-0 first:pl-8 last:pr-8">
        {/* Artwork */}
        <div class="bg-neutral w-64 h-80" />

        {/* Info */}
        <div class="py-3 space-y-2 w-64 text-center text-base-content">
          <p class="font-serif font-semibold">{book.en_title}</p>
          <p>{i === 0 ? 'Chapter 1 is available.' : description}</p>
        </div>
      </div>
    ))
  }
</div>
