---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="All Books of the Suraj Prakash Granth">
  <Fragment slot="extra-headers">
    <h1 class="font-serif text-3xl text-gray-900">All Books</h1>
    <p class="py-2">
      The <i>Suraj Prakash Granth</i> is composed of 22 pieces.
    </p>
  </Fragment>

  <div
    class="grid grid-cols-1 grid-rows-3 max-w-sm sm:max-w-full lg:max-w-7xl m-auto sm:grid-rows-none sm:grid-cols-2 lg:grid-cols-3 gap-6 my-10 transition-all"
  >
    <!-- Card 1 -->
    <div class="">
      <div class="h-96 relative">
        <img
          alt="Guru Nanak Dev Ji artwork on an the cover of a Nanak Prakash pothi"
          src="https://res.cloudinary.com/dip5mdxwe/image/upload/v1680300510/NPG_AI_Zoomed_t8jybg.jpg"
          class="absolute inset-0 h-full w-full object-cover"
          decoding="async"
          loading="lazy"
        />
      </div>
      <div class="py-5">
        <h2 class="font-serif text-xl md:text-2xl">Nanak Prakash Granth 1</h2>
        <p class="mt-2"></p>
      </div>
      <div>
        <a
          href={`/books/${1}`}
          class="uppercase p-2 text-center my-3 underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        >
          Read
        </a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="">
      <div class="bg-slate-300 h-96"></div>

      <div class="py-5">
        <h2 class="font-serif text-xl md:text-2xl">Nanak Prakash Granth 2</h2>
        <p class="mt-2">Coming soon...</p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="">
      <div class="bg-slate-300 h-96"></div>
      <div class="py-5">
        <h2 class="font-serif text-xl md:text-2xl">Raas 1</h2>
        <p class="mt-2">Coming soon...</p>
      </div>
    </div>
    <div class="">
      <div class="bg-slate-300 h-96"></div>
      <div class="py-5">
        <h2 class="font-serif text-xl md:text-2xl">Raas 2</h2>
        <p class="mt-2">Coming soon...</p>
      </div>
    </div>
    <div class="">
      <div class="bg-slate-300 h-96"></div>
      <div class="py-5">
        <h2 class="font-serif text-xl md:text-2xl">Raas 3</h2>
        <p class="mt-2">Coming soon...</p>
      </div>
    </div>
    <div class="">
      <div class="bg-slate-300 h-96"></div>
      <div class="py-5">
        <h2 class="font-serif text-xl md:text-2xl">Raas 4</h2>
        <p class="mt-2">Coming soon...</p>
      </div>
    </div>

    <div class="">
      <div class="bg-slate-300 h-96"></div>
      <div class="py-5">
        <h2 class="font-serif text-xl md:text-2xl">Raas 5</h2>
        <p class="mt-2">Coming soon...</p>
      </div>
    </div>
  </div>

  <div class="">
    <img
      src="https://res.cloudinary.com/dip5mdxwe/image/upload/f_auto/q_auto/v1680300510/NPG_AI_Zoomed_t8jybg.jpg"
      loading="lazy"
      width="300px"
      height="500px"
      alt=""
    />
    <div class="py-5">
      <h2 class="font-serif text-xl md:text-2xl">Raas 1</h2>
      <p class="mt-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a arcu sed mauris feugiat
        luctus sit amet ut.
      </p>
    </div>
  </div>
</Layout>
